.wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;

  header {
    font-weight: bold;
    margin-bottom: .5em;
    user-select: none;
    cursor: default;

    .message-role {
      text-transform: uppercase;
      color: var(--accent);
    }
  }

  .message-content {
    padding: .5em;
    background-color: light-dark(hsl(0 0% 0% / .1), hsl(0 0% 100% / .1));
    border-radius: 0 .5em .5em .5em;
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;

    &:empty {
      display: none;
    }

    &::selection {
      background-color: color-mix(in hsl, var(--accent) 75%, black);
      color: white;
    }
  }

  .message-loading {
    transition: all ease-out .3s;
    @starting-style {
      opacity: 0;
    }

    &.hidden {
      display: none;
    }
  }

  &[data-role=human] {
    align-items: end;

    > .message-content {
      border-radius: .5em 0 .5em .5em;
    }
  }
}